.homepage-background {

 background-image: url("src/assets/homepage.png");
 background-repeat: no-repeat;
 background-position: right;
 height: 85vh;

 background-size: cover;
 //z-index: -1;
 //position: absolute;




}
.red {

}
//.homepage {
//height: 100%;
//
//}
.detail {
 margin: 8%;
}
