.highlight_program {
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 1rem;
  line-height: 140%;
  display: flex;
  .describe_program {
    max-width: 920px;
    .title_describe {
      color: #1178BB;
      text-align: center;
      padding-top: 20px;
      margin-top: 0 ;
      margin-bottom: 0.67em;


      font-weight: 600;
      line-height: 120%;
    }
    .text_describe {
      text-align: center;
      font-size: 1rem;
      line-height: 140%;
    }
  }

}
